.h-back {
    background: rgba(117, 117, 124, 0.664) url('../../assets/header.jpg');
    background-blend-mode: darken;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 